<launch>

      <arg name="autorun"  default="0" />
      <arg name="bag_file" default="/media/tmn/mySataSSD3/NTU_VIRAL/rtp_03/rtp_03_mod.bag" />

      <!-- Launch file for velodyne16 VLP-16 LiDAR -->
      <node pkg="merge_lidar" type="merge_lidar_node" name="merge_lidar" respawn="true" output="log"
            required="false">
            <rosparam file="$(find slict)/config/ntuviral.yaml" command="load" />
            <rosparam param="lidar_channels"> [16, 16] </rosparam>
      </node>

      <!-- <node pkg="cloud_converter" type="cloud_converter" name="ouster_to_velodyne" output="screen">
            <param name="input_topic"  type="string" value="/os_cloud_node_merged" />
            <param name="input_type"   type="string" value="ouster" />
            <param name="output_topic" type="string" value="/velodyne_merged" />
            <param name="output_type"  type="string" value="velodyne" />
      </node> -->

      <rosparam command="load" file="$(find voxel_map)/config/ntuviral.yaml" />
      <node pkg="voxel_map" type="voxel_mapping_odom" name="voxel_mapping_odom" output="screen" />

      <node required="$(eval autorun==1)" pkg="rosbag" type="play" name="rosbag_player"
            args="$(arg bag_file) -r 1.0 -s 0" />

      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
            args="-d $(find voxel_map)/rviz_cfg/ntuviral.rviz" />

      <node pkg="tf2_ros" type="static_transform_publisher" name="world_camera_init_pub"
            args="0 0 0 1 0 0 0 world camera_init" />

</launch>